@font-face {
  font-family: 'neuzeitgro';
  src: url('../assets/fonts/neuzeitgro.woff2') format('woff2'),
  url('../assets/fonts/neuzeitgro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@font-face {
  font-family: 'opensans';
  src: url('../assets/fonts/opensans.woff2') format('woff2'),
  url('../assets/fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}